/*****BASE STYLES*****/

body {
    color: limegreen;
    font-family: Roboto Slab, serif;
    margin: 0 auto;
}

#portfolio {
    height: 1450px;
}

#about {
    height: 650px;
}

#contact {
    height: 400px;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}
/***** HEADER *****/

header {
    background-image:url(img/hero-background.png);
    background-size: cover;
    height: 800px;
}

header h1 {
    font-family: 'Roboto Slab',serif;
    font-size: 60pt;
    font-weight:700;
    line-height: 63pt;
    margin-top: 0;
    padding: 160px 0 0 150px;
    text-align: left;
}

header h2 {
    clear: left;
    font-family: 'Roboto Slab', serif;
    font-size: 48pt;
    color: teal;
    text-align: left;
    font-weight: 500;
    padding: 0 100px 0 300px
}

/*****PORTFOLIO*****/

#portfolio .full-width {
    clear: both;
    overflow: auto;
    padding: 20px 10px 10px 20px;
    height: 1650px;
    border-width: 1px #b7b7b7;

}

#portfolio h3  {
    font-family: 'Roboto Slab',serif;
    font-size: 36pt;
    font-weight: 700;
    text-align: center;
    margin-top: auto;
}

.rouge-image,
.jubilee-image,
.recipe-image {
    float: left;
    height: auto;
}

.rouge-image {
    padding-bottom: 10px;
}

.jubilee-image {
    padding-bottom: 10px;
}

.recipe-image {
    padding-bottom: 20px;
}

.rouge-pickings h4,
.jubilee-austen h4,
.recipe-card h4 {
    margin-bottom: 0;
    margin-top: 0;
    float:left;
    font-size: 24pt;
}

.rouge-pickings p,
.jubilee-austen p,
.recipe-card p {
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    line-height: 24pt;
    margin-top: 0;
    float:left;
    font-weight: 400;
}
#portfolio a {
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    color: teal;
    text-decoration: none;
    float:left;
}

.rouge-pickings {
    padding: 20px;
}

.jubilee-austen {
    padding-bottom: 179px;
}
/****** ABOUT ME ******/

#about {
    background-color: darkcyan;
    padding: 20px 80px 0 80px;
    
} 

#about h3 {
    color: ghostwhite;
    font-family: 'Roboto Slab', serif;
    font-size: 36pt;
    font-weight: 700;
    padding-bottom: 40px;
    text-align: center;
}

.about-image {
    float: left;
    height: auto;
    padding: 20px 10px 10px 20px;
}

#about h4 {
    color: gainsboro;
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 0;
    text-align: left;
}

#about p {
    color: gainsboro;
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    font-weight: 500;
    letter-spacing:normal;
    line-height: 24pt;
    margin-top: 0;
    text-align: left;
}

/*****CONTACT*****/

#contact {
    background-color: teal;
    padding: 20px 80px 0 80px;
    text-align: center;
}

#contact h3 {
    color: ghostwhite;
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    font-weight: 700;
    margin-top: 0;
}

#contact h4 {
    color: teal;
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    font-weight: 300;
    line-height: 24pt;
    margin-top: 0;
}

#contact a {
    color: teal;
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    text-decoration: none;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding: 0 28px 80px 0;
}

#contact .copyright p {
    font-size: 14pt;
}