/*****BASE STYLES*****/

body {
    color:#bdbf09;
    font-family: Roboto Slab, serif;
    margin: 0 auto;
}

#portfolio {
    height: 1450px;
}

#about {
    height: 650px;
}

#contact {
    height: 400px;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
    overflow: auto;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}
/***** HEADER *****/

header {
    background-image: url(img/hero-background.png);
    background-size: cover;
    height: 800px;
}

header h1 {
    font-family: 'Roboto Slab',serif;
    font-size: 60pt;
    font-weight:700;
    line-height: 63pt;
    margin-top: 0;
    padding: 160px 0 0 150px;
    text-align: left;
}

header h2 {
    clear: left;
    font-family: 'Roboto Slab', serif;
    font-size: 40pt;
    color: teal;
    text-align: left;
    font-weight: 400;
    padding: 0 100px 0 300px
}

/*****PORTFOLIO*****/

#portfolio .full-width {
    clear: both;
    overflow: auto;
    padding: 20px 10px 10px 20px;
    height: 1650px;
    border-width: 1px;
    background-color: #ffffff;

}

#portfolio h3  {
    font-family: 'Roboto Slab',serif;
    font-size: 32pt;
    font-weight: 600;
    text-align: center;
    margin-top: auto;
    line-height: normal;
    margin-left: 100px;
    margin-bottom: auto;
    color: #087e8b;
    padding-left: 25px;
    padding-right: 85px;
}

.rouge-image,
.jubilee-image,
.recipe-image {
    float: left;
    height: auto;
}
.jubilee-image {
    padding-top: 20px;
    padding-bottom: 10px;
}
.rouge-image {
    padding-bottom: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.jubilee-image {
    padding-bottom: 20px;
    margin-top: 30px;
    padding-left: 50px;
}

.recipe-image {
    padding-bottom: 20px;
    margin-top: 60px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.rouge-pickings h4 {
    float:left;
    font-size: 21pt;
    padding-left: 50px;
    padding-right: 50px;
    color: #095156;
    line-height: 24pt;
    margin-top: 30px;
    padding-top: 65px;
}

.jubilee-austen h4 {
     float:left;
    font-size: 21pt;
    padding-left: 50px;
    padding-right: 50px;
    color: #095156;
    line-height: 24pt;
    margin-top: 25px;
    padding-top: 50px;
}

.recipe-card h4 {
    
    float:left;
    font-size: 21pt;
    padding-left: 50px;
    padding-right: 50px;
    color: #095156;
    line-height: 24pt;
    margin-top: 25px;
    padding-top: 55px;
}

.rouge-pickings p {
    font-family: 'Roboto Slab', serif;
    font-size: 21pt;
    line-height: 24pt;
    float:left;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    color: #087e8b;
    margin-top: auto;
}

.jubilee-austen p {
    font-family: 'Roboto Slab', serif;
    font-size: 21pt;
    line-height: 24pt;
    float:left;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    color: #087e8b;
    margin-top: auto;
}

.recipe-card p {
    font-family: 'Roboto Slab', serif;
    font-size: 21pt;
    line-height: 24pt;
    float:left;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    color: #087e8b;
    margin-top: auto;
}

/****** ABOUT ME ******/

#about  {
    background-color: #087e8b;
    border-radius: 1px;
} 

#about .full-width {

    margin-top: 0px auto;
}

#about h3 {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 32pt;
    line-height: normal;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-image {
    float: left;
    height: auto;
    margin-left: 175px;
    margin-top: 40px;
}

#about p {
    color: gainsboro;
    font-family: 'Roboto Slab', serif;
    font-size: 21pt;
    font-weight: 500;
    letter-spacing:normal;
    line-height: 21pt;
    margin-top: 75px;
    text-align: left;
    padding-right: 50px;
    padding-top: 50px;
}

/*****CONTACT*****/

#contact  {
    background-color: #095156;
    margin-top: 0px;
    
}

#contact .full-width {
    padding:  0;
    border-radius: 1px;
}

#contact h3 {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 32pt;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    margin-left: 30px;
}

/* lets connect*/

#contact h4 {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 21pt;
    font-weight: 400;
    line-height: 24pt;
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
}

#contact p {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 21pt;
    font-weight: 400;
    text-align: center;
}
/* follow me*/

#contact h4 {
    color: #ffffff;
    text-align: center;
    font-size: 21pt;
}


#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding:  0px 25px 25px 0;
    padding-left: 25px;
    padding-right: 25px;
}

/*Meet me*/

#contact h4 {
    font-size: 21pt;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-align: center;
    padding-right: 50px;
}

#contact p {
      color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 21pt;
    font-weight: 400;
    text-align: center;
}
/****FOOTER****/

#copyright .full-width {
    border: 1px;
}

#copyright {
    background-color: #095156;
}

#copyright p {
    font-size: 10pt;
    text-align:left;
    line-height: 16pt;

}

@media only screen and (min-width: 768px) {
/*Tablet styles here*/
}
 
@media only screen and (min-width: 1200px) {
/*Desktop styles here*/
}